/*
Colors used:
White - #FFFFFF;
Dark Grey - #323338;
Blue-Grey - #516287;
Dark Blue - #19284D;
Light Blue - #E5F1FF
*/

body {
  background-color: #FFFFFF;
  color: #516287;
}

body {
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
  font-family: 'Domine', sans-serif; line-height: 1.4;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}
h4 {
  font-size: 1.25em;
  font-weight: 400;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  width: 120px;
  height: auto;
}

